/*@font-face {*/
    /*font-family: "monaco-woff";*/
    /*src: url(/fonts/monaco.woff)*/
/*}*/

/*body {*/
    /*font-family: "monaco-woff", serif*/
/*}*/


/*@font-face {*/
    /*font-family: "courier-woff";*/
    /*src: url(/fonts/CourierPrime-Regular.ttf);*/
/*}*/
/*@font-face {*/
    /*font-family: "courier-bold-woff";*/
    /*src: url(/fonts/CourierPrime-Bold.ttf);*/
/*}*/
/*@font-face {*/
    /*font-family: "courier-italic-woff";*/
    /*src: url(/fonts/CourierPrime-Italic.ttf);*/
/*}*/
/*@font-face {*/
    /*font-family: "courier-bold-italic-woff";*/
    /*src: url(/fonts/CourierPrime-BoldItalic.ttf);*/
/*}*/

/*p {*/
    /*font-family: "courier-woff";*/
/*}*/

/*i {*/
    /*font-family: "courier-italic-woff";*/
/*}*/

/*b {*/
    /*font-family: "courier-woff";*/
/*}*/

/*.header, h1, h2, h3, h4, h5 {*/
    /*font-family: "VeraSerif-Bold-woff";*/
/*}*/


@font-face {
    font-family: "assistant-regular";
    src: url(/fonts/assistant-regular-webfont.woff);
}
@font-face {
    font-family: "assistant-bold";
    src: url(/fonts/assistant-bold-webfont.woff);
}

p, a, .content figure figcaption {
    font-family: "assistant-regular";
}

b, .sitetitle, h1, h2, h3, h4, h5 {
    font-family: "assistant-bold";
}

body {
    background-color: #f5f5f5;
}

/*@font-face {*/
    /*font-family: "VeraSerif-woff";*/
    /*src: url(/fonts/VeraSerif-webfont.woff)*/
/*}*/

/*@font-face {*/
    /*font-family: "VeraSerif-Bold-woff";*/
    /*src: url(/fonts/VeraSerif-Bold-webfont.woff)*/
/*}*/

/*body p {*/
    /*font-family: "VeraSerif-woff";*/
/*}*/

/*.content figure figcaption {*/
    /*font-family: "VeraSerif-woff";*/
/*}*/

/*body p b {*/
    /*font-family: "VeraSerif-Bold-woff";*/
/*}*/

/*h1, h2, h3, h4, h5, h6 {*/
    /*font-family: "VeraSerif-Bold-woff";*/
/*}*/


/*.header {*/
    /*padding: 50px;*/
    /*text-align: center;*/
    /*color: black;*/
    /*font-size: 12px; */
/*}*/

.header {
    margin: auto;
    width: 80%;
}

.header .sitetitle {
    font-size: 30px;
    padding: 10px;
    text-decoration: none;
}

.header a {
    font-size: 20px;
    padding: 10px;
    color: black;
}

.content {
    margin: auto;
    width: 60%;
    padding: 10px;
}

/*h1 {*/
    /*margin: auto;*/
    /*width: 60%;*/
    /*padding: 10px;*/
/*}*/

/*h2 {*/
    /*margin: auto;*/
    /*width: 60%;*/
    /*padding: 10px;*/
/*}*/

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    border-radius: 8px;
}

p a {
    color: black;
}

.content figure figcaption {
    font-style: italic;
    font-size: 14px;
    text-align: center;
}

/*p {*/
    /*margin: auto;*/
    /*width: 60%;*/
    /*padding: 10px;*/
/*}*/

.content code {
    font-size: 16px;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    background-color: #eee;
    border: 1px solid #999;
    /*padding: 10px;*/
}

.content pre code {
    font-size: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #eee;
    border: 1px solid #999;
    padding: 10px;
}

blockquote {
    display: block;
    margin: 10px;
    padding: 15px;
    background: #ddd;
    border-radius: 5px;
    font-family: "assistant-regular";
}

/*blockquote p::before {*/
    /*content: '\201C';*/
/*}*/

/*blockquote p::after {*/
    /*content: '\201D';*/
/*}*/
