@font-face {
    font-family: "monaco-woff";
    src: url(../fonts/monaco.woff)
}

body {
    font-family: "monaco-woff"
}

/*.header {*/
    /*padding: 50px;*/
    /*text-align: center;*/
    /*color: black;*/
    /*font-size: 12px; */
/*}*/

.header {
    margin: auto;
    width: 80%;
}

.header .sitetitle {
    font-size: 30px;
    padding: 10px;
}

.header a {
    font-size: 20px;
    padding: 10px;
    color: black;
}

.content {
    margin: auto;
    width: 60%;
    padding: 10px;
}

/*h1 {*/
    /*margin: auto;*/
    /*width: 60%;*/
    /*padding: 10px;*/
/*}*/

/*h2 {*/
    /*margin: auto;*/
    /*width: 60%;*/
    /*padding: 10px;*/
/*}*/

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.content figure figcaption {
    font-style: italic;
    font-size: 14px;
    text-align: center;
}

/*p {*/
    /*margin: auto;*/
    /*width: 60%;*/
    /*padding: 10px;*/
/*}*/

.content code {
    font-size: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #eee;
    border: 1px solid #999;
    padding: 10px;
}
